@use "../../styles/" as *;

.NavHeader {
	width: 100vw;
	display: flex;
	align-items: center;
	position: fixed;
	justify-content: flex-start;
	text-align: center;
	flex-direction: row;
	padding: 0px 5px 0px 1.5vw;
	gap: 5px;
	background-color: $turqoise-200;
	color: $cyan-400;
	font-size: 2.5vh;
	z-index: 998;
	top: 0;
	height: 10vh;
	&_Logo {
		filter: invert(20%) sepia(82%) saturate(7497%) hue-rotate(184deg)
			brightness(89%) contrast(82%);
	}
}

.NavMenu {
	top: 0;
	margin-top: 10vh;
	background-color: $turqoise-200;
	width: 30vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	left: -100%;
	transition: 850ms;
	bottom: 0;

	&_Active {
		top: 0;
		margin-top: 10vh;
		background-color: $turqoise-200;
		display: flex;
		justify-content: center;
		position: fixed;
		left: 0;
		height: 100vh;
		transition: 350ms;
		z-index: 997;

		@media screen and (max-width: 620px) {
			width: 30vw;
		}

		@media screen and (min-width: 620px) {
			width: 15vw;
		}
	}

	&_Item {
		width: 100%;
		padding-left: 0px;
	}

	&_Text {
		display: flex-start;
		align-items: center;
		padding: 8px 0px 8px 0px;
		list-style: none;
		height: 60px;
		align-items: center;
	}

	&_Text a {
		text-decoration: none;
		color: $cyan-400;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 3vw;
		border-radius: 4px;

		@media screen and (max-width: 620px) {
			font-size: 3vw;
		}

		@media screen and (min-width: 620px) {
			font-size: 3vh;
		}
	}

	&_Text a:hover {
		color: $turqoise-0;
		background-color: $cyan-400;
	}

	&_Toggle {
		background-color: #060b26;
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
