@font-face {
	font-family: "DIN";
	font-style: normal;
	font-weight: 300;
	src: url("../statics/fonts/DIN-Light.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "DIN";
	font-style: normal;
	font-weight: 400;
	src: url("../statics/fonts/DIN-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "DIN";
	font-style: normal;
	font-weight: 500;
	src: url("../statics/fonts/DIN-Medium.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "DIN";
	font-style: normal;
	font-weight: 700;
	src: url("../statics/fonts/DIN-Bold.ttf") format("truetype");
	font-display: swap;
}
