// Color Palette

$neutral-900: #1f2730;
$neutral-800: #28313b;
$neutral-700: #4c4637;
$neutral-600: #3f4e5f;
$neutral-500: #626b77;
$neutral-400: #88919b;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #f0f5f9;
$neutral-0: #ffffff;

$base: #f8f6f4;

// Turqoise
$turqoise-0: #e3f4f4;
$turqoise-200: #d2e9e9;
$turqoise-400: #c4dfdf;

// Cyan
$cyan-0: #dafffb;
$cyan-200: #64ccc5;
$cyan-400: #176b87;
$cyan-600: #001c30;

// Shadows
$shadow-normal: rgba(136, 153, 166, 0.2) 0 0 15px,
	rgba(136, 153, 166, 0.15) 0 0 3px 1px;
$shadow-raised: rgba(136, 153, 166, 0.25) 0 0 15px,
	rgba(136, 153, 166, 0.15) 0 0 3px 1px;
